<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FocusPet - Productivity Assistant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>
<body>

<div class="container">

    <div class="RangelMenu">
        
        <div class="pet" id="pet">
            <img src="{{ url_for('static', filename='resources/rangel.png') }}" alt="pet">
        </div>
    </div>

    <div class="title">FocusPet</div>

    <div class="panel">
        
        <a href="problematic">
            <div class="button">OUR PROBLEMATIC</div>
        </a>
        <a href="dataset">
             <div class="button">OUR DATA</div>
        </a>

        <a href="/decisiontree">
    <div class="button">DECISION TREE</div>
        </a>

        <a href="/randomforest">
             
    <div class="button">RANDOM FOREST</div>
        </a>


    </div>

    <div class="phone-box">
        <video src="{{ url_for('static', filename='resources/presentacion.mp4') }}" autoplay muted loop></video>
    </div>
</div>
       
<!-- Team -->
    <div class="team-container">
        <h3 class="team-title">Team Members</h3>

        <div class="team-grid">
            <div class="team-member">
                <img src="{{ url_for('static', filename='resources/juan.jpeg') }}" alt="Juan ">
                <p>Juan David Vargas</p>
            </div>
            

            <div class="team-member">
                <img src="{{ url_for('static', filename='resources/camilo.jpeg') }}" alt="Camilo Andrés Sichaca">
                <p>Camilo Andrés Sichaca</p>
            </div>

            <div class="team-member">
                <img src="{{ url_for('static', filename='resources/sharick.jpeg') }}" alt="Sharick Lorena Doncel">
                <p>Sharick Lorena Doncel</p>
            </div>

            <div class="team-member">
                <img src="{{ url_for('static', filename='resources/santiago.jpeg') }}" alt="Santiago José Morales">
                <p>Santiago José Morales</p>
            </div>
        </div>
    </div>

</body>
</html>