<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Problem Statement & Justification</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>
<body>

    <main class="main-container">

            <a href="/" class="btn-back">← Back to Dashboard</a>

        
        <header class="page-header">
            <span class="badge">Project Context</span>
            <h1>Problem Statement & Justification</h1>
            <p class="subtitle"></p>
        </header>

        <section class="content-section row-reverse">
            <div class="text-block">
                <div class="section-title">
                    <i class="fa-solid fa-triangle-exclamation icon-problem"></i>
                    <h2>PROBLEMATIC</h2>
                </div>
                <div class="glass-card">
                    <p>In Colombia, procrastination represents a problem that mainly affects students and young people, as it causes poor academic performance, loss of productivity, and difficulties in fulfilling responsibilities. The excessive use of social media and digital platforms has increased distractions, generating stress, poor time management, and unhealthy habits that impact both educational performance and personal well-being, highlighting the low performance and limited progress of educational institutions.
                </p>
                </div>
            </div>
            
            <div class="image-block">
                <div class="image-placeholder">
                    <i class="fa-regular fa-image"></i>
                    <img src="{{ url_for('static', filename='resources/ProcrastinationImage.png') }}" alt="procrastination">
                </div>
            </div>
        </section>

        <section class="content-section">
            <div class="text-block">
                <div class="section-title">
                    <i class="fa-solid fa-lightbulb icon-justification"></i>
                    <h2>Why We Chose This Problem</h2>
                </div>
                <div class="glass-card">
                    <p>An application makes it possible to provide reminders, task tracking, and motivational tools that can help reduce procrastination and increase academic productivity. In this way, it seeks to offer an accessible and innovative solution that helps users develop discipline, improve their performance, and strengthen their personal and educational well-being. Likewise, it allows easy access for students and young people, since in the 21st century almost everyone has access to a mobile device.
                    </p>
                </div>
            </div>

            <div class="image-block">
                <div class="image-placeholder">
                    <i class="fa-regular fa-image"></i>
                    <img src="{{ url_for('static', filename='resources/simulationApp.png') }}" alt="">
                </div>
            </div>
        </section>
    </main>

</body>
</html>